* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #b8f0ed;
    height: 100px;


}

ul {
    list-style-type: none;
    display: flex;
    padding-top: 40px;
    gap: 70%;


}

ul li a {
    text-decoration: none;
    padding-left: 50px;
    color: black;
    font-size: larger;
    padding: 10PX;
    border-radius: 20px;
}

.navbar ul {
    padding-top: 10px;
    background-color: #f2efef;
    gap: 15%;
    height: 70px;
    padding-left: 30px;


}

.navbar ul li a {
    color: rgba(8, 1, 1, 0.93);
    font-size: larger;
    display: block;
    padding: 10px;
    border-radius: 20px;
}

ul li a:hover {
    background-color: #34a6b0;


}

.doctors-section {
    text-align: center;
    padding: 50px 20px;
    background-color: rgb(153, 235, 235);
}

.doctors-section h1 {
    font-size: 2em;
    margin-bottom: 30px;
    color: rgb(18, 79, 79);
}

.doctors-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

}

.doctor-card {
    border-radius: 15px;
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;

}

.doctor-card img {
    height: 50px;
    width: 50px;
    top: 0px;


}

.letter {
    padding-top: 15px;
    gap: 5px;
    line-height: 20px;
    font-family: sans-serif;
    text-align: left;
}


.doctor-card:hover {
    transform: translateY(-5px);
}

.main {
    background-color: #dfefef;
    height: 460px;
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

h3 {
    font-size: x-large;
    color: #0f7d78;
    padding-left: 80px;

}

.large {
    font-weight: 700;
    font-size: 40px;
    padding-left: 80px;
}

.small {
    padding-left: 80px;
    line-height: 30px;
    font-family: sans-serif;
    text-align: left;
    padding-top: 30px;
}

.main ul {
    display: flex;
    font-family: sans-serif;
    gap: 50px;
    padding-left: 180px;
    line-height: 40px;
    color: rgb(12, 14, 14);
    font-weight: 10px;
}

.main ul i {
    color: #11e8e8;
}

img {
    height: 500px;
    position: relative;
    box-shadow: #3f8c8c;
    border-radius: 20px;
    width: 40%;
}