
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #f0f4f8, #c8d8e8);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;

}


.container {
    background:#dadddd;
    padding: 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
}


.login-btn {
    display: flex;
    margin-bottom: 25px;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid #ddd;
}

.login-btn button {
    flex-grow: 1;
    padding: 12px 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: #f7f7f7;
    transition: all 0.3s ease;
    color: #555;
}

.login-btn button.active {
    background-color: #d0d8e1; 
    color:#555;
    font-size: large;
}

.login-btn button:hover:not(.active) {
    background-color: #e0e0e0;
}


.form-box {
    display: none; 
    padding: 10px 0;
}

.form-box.active {
    display:block; 
}

.form-box h2 {
    text-align: center;
    color: #0d0f0f;
    margin-bottom: 20px;
}


.input-group {
    margin-bottom: 15px;
}

.input-group label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #444;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box; 
    font-size: 16px;
    background-color: #fff;
}

.input-group input:focus,
.input-group select:focus {
    border-color: #007bff;
    outline: none;

}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #5dbdc2;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    
}

.submit-btn:hover {
    background-color: #dfe2e2;
}


