body {
    background: linear-gradient(135deg, #b2e9ee, #d7eeee);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.card {
    background-color: #eafcf1;
    border-radius: 20px;
    padding: 30px;
    width: 340px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
    text-align: center;
}

h2 {
    color: #0c5c43;
    margin-bottom: 20px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    object-fit: cover;
    margin-right: 15px;
}

.info {
    text-align: left;
}

.accept-btn {
    background-color: #078086;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 0;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25px;
    cursor: pointer;
}

h3 {
    color: #0c5c43;
    text-align: left;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 70px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 14px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}
